{% extends 'base-site.html' %}
{% load bootstrap3 %}
{% block search %}
<div class="search-head">
    <div class="search-head-form">
        <form class="form_s_s" name="contact" method="post" action="{% url 'search_object' %}">
            {% csrf_token %} {% bootstrap_form object_form_s %}
            <button type="submit" class="btn btn-md btn-serch"><span class="glyphicon glyphicon-play"></span></button>
        </form>
    </div>
    <div class="search-head-form2">
        <form class="form_s_s2" name="contact" method="post" action="{% url 'search_metro' %}">
            {% csrf_token %} {% bootstrap_form metro_form_s %}
            <button type="submit" class="btn btn-md btn-serch"><span class="glyphicon glyphicon-play"></span></button>
        </form>
    </div>
</div>
<div class="clearfix">

</div>
{% endblock %}
{% block content-title %}
<form class="form_s_3s" name="contact" method="post" action="">
    {% csrf_token %}
    {% bootstrap_form form %}
    <div class="clearfix">
    </div>
    <button type="submit" class="btn btn-md btn-search-obj"><span class="search-obj">ИСКАТЬ</span></button>
</form>
{% endblock %}

{% block content %}

<div class="home-obj">
  {% if myobjs %}
  {% for objs in myobjs %}
      {% for obj in objs %}
      <div class="myobj">
          <p>
              {% with obj.station_one.photo_set.all.0 as img %}
                  <a href="{% url 'obj_single' pk=obj.id %}"><img src="{{MEDIA_URL}}{{ img.image.url }}" width="100%" height="100%" alt="Аренда помещений"></a>
              {% endwith %}
          </p>
          <p>
              {{obj.price}} Р/месяц </br>
              {{obj.adres}}</br>
              {{obj.station_one}} {% if obj.station_two %} {{obj.station_two2}} {% endif %}   </br>
              150 метров от метро </br>
              {% for okrug in obj.okrug.all %}
                  {{okrug.options}},
              {% endfor %}</br>
          </p>
      </div>
      {% endfor %}
  {% endfor %}
  {% elif myobj %}
    {% for obj in myobj %}
        <div class="myobj-h">
            <p class="p-img">
                {% with obj.station_one.photo_set.all.0 as img %}
                    <a href="{% url 'obj_single' pk=obj.id %}"><img class="st-obj-img" src="{{MEDIA_URL}}{{ img.image.url }}" alt="Аренда помещений"></a>
                {% endwith %}
            </p>
            <p>
                {{obj.price}} Р/месяц </br>
                {{obj.adres}}</br>
                {{obj.station_one}} {% if obj.station_two %} {{obj.station_two2}} {% endif %}   </br>
                150 метров от метро </br>
                {% with obj.okrug.all.0 as attachment %}
                    {{ attachment.options }}
                {% endwith %}</br>
            </p>
        </div>
    {% endfor %}
  {% else %}
    <h1>По вашему запросу нет результатов</h1>
  {% endif %}
</div>
<div class="clearfix">

</div>

{% endblock %}
