{% extends 'base-site.html' %}
{% load bootstrap3 %}
{% block search %}
{% endblock %}
{% block content-title %}
{% endblock %}

{% block content %}
<script type="text/javascript">
$(document).ready(function() {
    $("a.gallery").fancybox();
});
</script>
    {% if obj %}
    {# for obj in obj_single #}
    <h2>ПОДРОБНАЯ ИНФОРМАЦИЯ ОБ ОБЪЕКТЕ № {{obj.id}}</h2>
    <div class="obj-cont">
    <table class="table table-bordered table-hover table-obj">
        <tr>
            <td class="td-op">Локация</td>
            <td><div class="okrug-singl">
                {% for okrug in obj.okrug.all %}
                    {{okrug.options}},
                {% endfor %}
                </div>
                <div style="width: 10px; height:10px; background-color:    {{obj.station_one.color}};border-radius: 10px;float: left; margin: 5px;">
                </div>
                    {{obj.station_one}} {% if obj.station_two %}, {{obj.station_two}} {% endif %}
            </td>
        </tr>
        <tr>
            <td>Тип объекта</td>
            <td>
                {{obj.get_typeobj_display}}, {{obj.etaj}} этаж
            </td>
        </tr>
        <tr>
            <td>Коммерческие условия</td>
            <td>
                <strong>{{obj.block_area}} м<sup>2</sup> - {{obj.block_price}} руб - {{obj.block_procent}} %</strong>
            </td>
        </tr>
        <tr>
            <td>Описание объекта</td>
            <td>
                {{obj.opis}}
            </td>
        </tr>
        <tr>
            <td>Назначение</td>
            <td>
                {% for naznach in obj.naznach.all %}
                    {{naznach.options}},
                {% endfor %}
            </td>
        </tr>
        <tr>
            <td>Характеристики</td>
            <td>
                <strong>{{obj.kvt}} КВТ</strong>
            </td>
        </tr>
        <tr>
            <td>Вид договора</td>
            <td>
                {{obj.dogovor}}
            </td>
        </tr>
        <tr>
            <td>Основной трафик</td>
            <td>

            </td>
        </tr>
</table>
<!--<h4>Если вы хотите получить подробную информации об этих объектах, пожалуйста, позвоните нам или оставьте заявку на просмотр</h4>-->

<div class="station-img">
    {% if imgs %}
        <p><strong>Возможно, Вас заинтересуют похожие предложения:</strong></p>
    {% endif %}

    {% for obj in img_objs %}
    <div class="img-obj-opis">
        {% for img in imgs %}
        <div class="img-obj">
                <img class="img-sop-obj"
                src="{{MEDIA_URL}}{{ img.image.url }}"  alt="Аренда помещений">
        </div>
        {% endfor %}

        <strong>
        <a href="{% url 'obj_single' pk=obj.id %}">
            <p class="p-pohoj">
            {% for okrug in obj.okrug.all %}
                {{okrug.options}},
            {% endfor %}
            {{obj.station_one}}
            {% if obj.station_two %}
                {#obj.station_two#}
            {% endif %}<br />
            {{obj.area}} м<sup>2</sup>;
            Цена: {{obj.price}} руб.
            </p>
        </a>
        </strong>
    </div>
    {% endfor %}
</div>
<div class="clearfix">

</div>
</div>

    {# endfor #}
    {% else %}
        <h2>Ошибка. Объект не существует.</h2>
    {% endif %}

<div class="obj-right">
    <div class="img-obj-right">
        {% for photo in photos %}
        <div class="img-obj-singl">
            <a class="gallery" href="{{MEDIA_URL}}{{ photo.file.url }}">
            <img class="pr-obj" src="{{MEDIA_URL}}{{ photo.file.url }}"  alt="Аренда помещений">
            </a>
        </div>
        {% endfor %}
    </div>
    <div class="clearfix">

    </div>
    <div class="div-btn">
        <div class="btn-obj-singl">
            <a href="javascript:window.print(); void 0;" class="cont-btn">РАСПЕЧАТАТЬ</a>
        </div>
        <div class="btn-obj-singl">
            <a href="{% url 'contact' %}" class="cont-btn">ЗАПИСАТЬСЯ НА ПРОСМОТР</a>
        </div>
        <div class="btn-obj-singl">
            <a href="{% url 'contact' %}" class="cont-btn">ЗАДАТЬ ВОПРОС</a>
        </div>
    </div>
</div>
<div class="clearfix">

</div>

<script>
jQuery(document).ready(function($) {
    $('.pr-obj:first').css({'width':'280px', 'height':'180px'});
    
});
</script>
{% endblock %}
