{% extends 'base-site.html' %}
{% load bootstrap3 %}
{% block search %}

{% endblock %}
{% block content-title %}

{% endblock %}

{% block content %}
<div>
    {% for obj in obj_single %}
    <h2>ПОДРОБНАЯ ИНФОРМАЦИЯ ОБ ОБЪЕКТЕ № {{obj.id}}</h2>
    <table class="table table-bordered table-hover table-obj">
        <tr>
            <td>Локация</td>
            <td>
                {{obj.get_typeobj_display}},
            </td>
        </tr>
        <tr>
            <td>Тип объекта</td>
            <td>
                {{obj.get_typeobj_display}}, {{obj.etaj}} этаж
            </td>
        </tr>
        <tr>
            <td>Коммерческие условия</td>
            <td>

            </td>
        </tr>
        <tr>
            <td>Описание объекта</td>
            <td>

            </td>
        </tr>
        <tr>
            <td>Назначение</td>
            <td>

            </td>
        </tr>
        <tr>
            <td>Характеристики</td>
            <td>

            </td>
        </tr>
        <tr>
            <td>Вид договора</td>
            <td>

            </td>
        </tr>
        <tr>
            <td>Основной трафик</td>
            <td>

            </td>
        </tr>
</table>
    {% endfor %}
</div>
{% endblock %}
