{% extends 'myclient/base.html' %}
{% load bootstrap3 %}
{% block title %} Заявки {% endblock %}
{% block content-title %} Заявки {% endblock %}
{% block content %}

<table class="table table-bordered table-hover">
    <th class="active id">
        ID
        <form class="form_s_c2" method="post" action="">
              {% csrf_token %}
              {{form_id.as_p }}
        </form>
    </th>
    <th class="active price-table">
        Имя
        <form class="form_s_c2" method="post" action="">
              {% csrf_token %}
              {# bootstrap_form form_name #}
              {{form_name.as_p}}
        </form>
    </th>
    <th class="span-task active tel_s">
        Номер телефона
        <form class="form_s_c2" method="post" action="">
              {% csrf_token %}
             {{form_tel.as_p}}
        </form>
    </th>
    <th class="span-task active tel_s">
        Email
        <form class="form_s_c2" method="post" action="">
              {% csrf_token %}
             {{form_email.as_p}}
        </form>
    </th>
    <th class="span-task active price-table">
        Дата

    </th>
    <th class="span-task active">
        Сообщение
    </th>
    <th class="span-task active price-table">

    </th>

    {% for zvon in zayavka %}

    <div id="dell2" class="{{zvon.id}}">
        <h4>Удалить заявку '{{zvon.id}}' ?</h4>
        <div class="dell_body">
        </div>
        <div class="dell_footer">
            <a class="btn-primary btn" name="yes" id="{{zvon.id}}" href="">Да</a>
            <a class="btn-warning btn no" id="{{zvon.id}}" href="">Нет</a>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">Редактировать</h4>
          </div>
          <div class="modal-body">
              <form id="contactform" name="contact" method="post" action="{% url 'edit_zvon' pk=zvon.id %}">
                  <p class="note"><span class="req"></span> Поля обязательны для заполнения</p>
                  {% csrf_token %}
                  <div id="forms">


                  </div>

                 <div class="modal-footer">
                   <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                   <button type="submit" class="btn btn-primary">Сохранить изменения</button>
                 </div>
              </form>
          </div>

        </div>
      </div>
    </div>
    <tr>
        <td>
            {{zvon.id}}
        </td>
        <td>
            {{zvon.name}}
        </td>
        <td>
            {{zvon.tel}}
        </td>
        <td>
            {{zvon.email}}
        </td>
        <td>
            {{zvon.data}}
        </td>
        <td>
            {{zvon.message}}
        </td>
        <td>
            <a href="#dialog-zvon" name="modal2" class="more">Посмотреть</a><br />
            <!-- Форма обратной связи-->
            <div id="boxes-zvon">
                <div id="dialog-zvon" class="window-zvon"> Текст модального окна
                    <div class="top2"><a href="#" class="link close" />Закрыть</a>
                    </div>
                    <div id="w2">
                        <h1 class="cont">Заявка № {{zvon.id}}</h1>
                        <table class="table table-bordered table-hover">
                            <tr>
                                <td>
                                    ID
                                </td>
                                <td>
                                    {{zvon.id}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Имя
                                </td>
                                <td>
                                    {{zvon.name}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    E-mail
                                </td>
                                <td>
                                    {{zvon.email}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Номер телефона
                                </td>
                                <td>
                                    {{zvon.tel}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Дата создания
                                </td>
                                <td>
                                    {{zvon.data}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Сообщения
                                </td>
                                <td>
                                    {{zvon.message}}
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <a href="#dialog-red" name="modal" id="{{zvon.id}}">Редактировать</a><br />
            <a href="#" id="delete" name="dell" class="{{zvon.id}}" >Удалить</a><br />
        </td>
    </tr>
    <script>
        jQuery(document).ready(function($) {
    $('a[name=modal]').click(function(e) {
        window.open("{% url 'update_zayavka' pk=zvon.pk %}", 'Редактировать заявку', 'width=1000px,height=500px,toolbar=0,status=0');
    });
});
</script>
    {% endfor %}
</table>
<!-- Маска, затемняющая фон -->
<div id="mask"></div>

<script>
    jQuery(document).ready(function($) {
          $('a[name=modal3]').click(function(e) {
              id = $(this).attr("id");
              id = parseInt(id);
              $.post("{% url 'update_zvon' %}",
                 {
                      'pk': id,

                  },
                  function(data) {
                      $('#myModal').modal('toggle');
                      //$('#forms').html(data);
                      $('#forms').html(data);
                  }
              );
             // return false;
          });
        //Всплывающие окно с формы
        $('a[name=modal2]').click(function(e) {
            e.preventDefault();
            var id = $(this).attr('href');
            var maskHeight = $(document).height();
            var maskWidth = $(window).width();
            $('#mask').css({
                'width': maskWidth,
                'height': maskHeight
            });
            $('#mask').fadeIn(1000);
            $('#mask').fadeTo("slow", 0.8);
            var winH = $(window).height();
            var winW = $(window).width();
            $(id).css('top', winH / 2 - $(id).height() / 2);
            $(id).css('left', winW / 2 - $(id).width() / 2);
            $(id).fadeIn(2000);
            $("body,html").animate({
                scrollTop: 0
            }, 800);
            return false;
        });

        $('.window-zvon .close').click(function(e) {
            e.preventDefault();
            $('#mask, .window-zvon').hide();
        });
        $('#mask').click(function() {
            $(this).hide();
            $('.window-zvon').hide();
        });

        // Удаление
        $('a[name=yes]').click(function(e) {
            id = $(this).attr("id");
            id = parseInt(id);
            $.post("{% url 'delete_zayavka' %}",
               {
                    'pk': id,
                },
                function(data) {
                    $('.'+id).hide("slow");
                    //$('#p').html(data);
                }
            );
            //return false;
        });
        $('body').on('click','#delete',function(){
            num = $(this).attr("class");
              $('.'+num).show("slow");
        });
        $('body').on('click','.no',function(){
             num = $(this).attr("id");
             $('.'+num).hide();
        });

    });
</script>
{% endblock %}
