{% extends 'myclient/base.html' %}
{% load bootstrap3 %}
{% block title %}
Приоритеты
{% endblock %}

{% block content-title %}
Приоритеты
{% endblock %}

{% block content %}
<a href="{% url 'add_prioritet' %}" class="btn btn-primary btn-xs">Добавить приоритет</a><br /><br />
<table class="table table-bordered table-hover">
    <th class="active price-table">
        Важность
    </th>
    <th class="active">
        Название
    </th>
    <th class="span-task active ">

    </th>

    {% for list in prioritet %}

    <div id="dell2" class="{{list.id}}">
        <h4>Удалить приоритет '{{list.prioritet}}'</h4>
        <div class="dell_body">
        </div>
        <div class="dell_footer">
            <a class="btn-primary btn" name="yes" id="{{list.id}}" href="">Да</a>
            <a class="btn-warning btn no" id="{{list.id}}" href="">Нет</a>
        </div>
    </div>

    <tr>
        <td>
            {{list.num}}
        </td>
        <td>
            {{list.prioritet}}
        </td>
        <td>
            <a href="{% url 'update_prio' pk=list.pk %}">Редактировать</a><br />
            <a href="#" id="delete" name="dell" class="{{list.id}}" >Удалить</a><br />
        </td>
    </tr>
    {% endfor %}
</table>
<script>
    jQuery(document).ready(function($) {
          $('a[name=yes]').click(function(e) {
              id = $(this).attr("id");
              id = parseInt(id);
              $.post("delete_prio/",
                 {
                      'pk': id,
                  },
                  function(data) {
                      $('.'+id).hide("slow");
                      //$('table').html(data);
                  }
              );
              //return false;
          });
         $('body').on('click','#delete',function(){
            num = $(this).attr("class");
            $('.'+num).show("slow");
        });
        $('body').on('click','.no',function(){
           num = $(this).attr("id");
           $('.'+num).hide();
       });
    });
</script>
{% endblock %}
