{% extends 'myclient/base.html' %}
{% load bootstrap3 %}
{% block title %}
Добавить задачу
{% endblock %}

{% block content-title %}
Добавить задачу
{% endblock %}

{% block content %}
<form   method="post" action="">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
    {% bootstrap_button "Сохранить" button_type="submit" button_class="btn-primary" %}
    {% endbuttons %}
</form>
<script>
	jQuery(document).ready(function($) {

$( "#id_date" ).datepicker(
    {dateFormat: 'yy-mm-dd'},
    $.datepicker.regional['ru'] = {
        monthNames: ['Яварь', 'Февраль', 'Март', 'Апрель',
            'Май', 'Июнь', 'Июль', 'Август', 'Сентябрь',
            'Октябрь', 'Ноябрь', 'Декабрь'],
        dayNamesMin: ['Вс','Пн','Вт','Ср','Чт','Пт','Сб'],
        firstDay: 1,
        });
    $.datepicker.setDefaults($.datepicker.regional['ru']);
});
</script>
{% endblock %}
