{% extends 'myclient/base.html' %}
{% load bootstrap3 %}
{% block title %}
Мои клиенты
{% endblock %}

{% block content-title %}
Мои клиенты
{% endblock %}

{% block content %}
<table class="table table-bordered table-hover">
    <th class="active">
    Имя
    <form class="form_s_c2" method="post" action="">
          {% csrf_token %}
          {# bootstrap_form form_name #}
          {{forms.name.as_p}}
    </form>
</th>
<th class="active">
    Менеджер
    <form class="form_s_c2" method="post" action="">
          {% csrf_token %}
          {# bootstrap_form form_name #}
          {{forms.manager.as_p}}
    </form>
</th>
<th class="span-task active price-table">
    Скрыт
    <form id="hide" class="form_s_c2" method="post" action="">
          {% csrf_token %}
          {# bootstrap_form form_name #}
          {{forms.hide.as_p}}
    </form>
</th>
<th class="span-task active">
    Назначение
    <form id="naz" class="form_s_c2" method="post" action="">
          {% csrf_token %}
          {# bootstrap_form form_name #}
          {{forms.naz.as_p}}
    </form>
</th>
<th class="span-task active">
    Телефон
    <form class="form_s_c2" method="post" action="">
          {% csrf_token %}
          {# bootstrap_form form_name #}
          {{forms.tel.as_p}}
    </form>
</th>
<th class="span-task active">
    Метраж
</th>
<th class="span-task active price-table">
    Цена до (общая)
</th>
<th class="span-task active price-table">
    Цена до (за м2)
</th>
<th class="span-task active">
    Email
    <form class="form_s_c2" method="post" action="">
          {% csrf_token %}
          {# bootstrap_form form_name #}
          {{forms.email.as_p}}
    </form>
</th>
<th class="span-task active">

</th>
{% if clients %}
{% for client in clients %}
<tr>
    <td>
        {{client.name}}
    </td>
    <td>
        {{client.my_manager}}
    </td>
    <td>
        {% if client.hide == '0' or client.hide_date == "" %}

        {% else %}
            {{client.hide_date}}
        {% endif %}
    </td>
    <td>
        {{client.naznach_one}}<br />
        {{client.naznach_two}}
    </td>
    <td>
        {{client.tel}}
    </td>
    <td class="price-table">
        от {{client.area_ot}} <br />
        до {{client.area_do}}
    </td>
    <td class="price-table">
        {{client.price_obsh}}
    </td>
    <td>
        {{client.price_m}}
    </td>
    <td>
        {{client.email}}
    </td>
    <td>
        {% if client.hide == "0" or client.hide_date == "" %}
            <a href="#dialog2" name="modal2" class="more">Скрыть</a><br />
            <!-- Форма обратной связи-->
            <div id="boxes2">
            <div id="dialog2" class="window2"> Текст модального окна
            <div class="top2"><a href="#" class="link close"/>Закрыть</a></div>
            <div id="w2">
              <h1 class="cont">Скрыть клиента!</h1>
              <form id="contactform" name="contact" method="post" action="{% url 'hide_client' pk=client.id %}">
            	  <p class="note"><span class="req"></span> Поля обязательны для заполнения</p>
            	  	{% csrf_token %}
            	  	{{ form.as_p }}
            	  	<input class="btn-us" type="submit" value="Отправить" />
            	 </form>
             </div>
             </div>
             </div>
        {% else %}
            <a href="{% url 'show_client' pk=client.pk %}">Открыть</a><br />
        {% endif %}
        <a href="{% url 'add_task_client' pk=client.pk %}">Задача</a><br />
        <a href="{% url 'update_client' pk=client.pk %}">Редактировать</a><br />
        <a href="{% url 'delete_client' pk=client.pk %}">Удалить</a>
        <a href="{% url 'copy_client' pk=client.pk %}">Копировать</a>
        <a href="">Прозвонить</a>
    </td>
</tr>

{% endfor %}
{% else %}
{% for client in search_client %}
<tr>
    <td>
        {{client.name}}
    </td>
    <td>
        {{client.my_manager}}
    </td>
    <td>
        {% if client.hide == '0' or client.hide_date == "" %}

        {% else %}
            {{client.hide_date}}
        {% endif %}
    </td>
    <td>
        {{client.naznach_one}}<br />
        {{client.naznach_two}}
    </td>
    <td>
        {{client.tel}}
    </td>
    <td class="price-table">
        от {{client.area_ot}} <br />
        до {{client.area_do}}
    </td>
    <td class="price-table">
        {{client.price_obsh}}
    </td>
    <td>
        {{client.price_m}}
    </td>
    <td>
        {{client.email}}
    </td>
    <td>
        {% if client.my_manager == user %}
        {% if client.hide == "0" or client.hide_date == "" %}
            <a href="#dialog2" name="modal2" class="more">Скрыть</a><br />
            <!-- Форма обратной связи-->
            <div id="boxes2">
            <div id="dialog2" class="window2"> Текст модального окна
            <div class="top2"><a href="#" class="link close"/>Закрыть</a></div>
            <div id="w2">
              <h1 class="cont">Скрыть клиента!</h1>
              <form id="contactform" name="contact" method="post" action="{% url 'hide_client' pk=client.id %}">
            	  <p class="note"><span class="req"></span> Поля обязательны для заполнения</p>
            	  	{% csrf_token %}
            	  	{{ form.as_p }}
            	  	<input class="btn-us" type="submit" value="Отправить" />
            	 </form>
             </div>
             </div>
             </div>
        {% else %}
            <a href="{% url 'show_client' pk=client.pk %}">Открыть</a><br />
        {% endif %}
        <a href="{% url 'add_task_client' pk=client.pk %}">Задача</a><br />
        <a href="{% url 'update_client' pk=client.pk %}">Редактировать</a><br />
        <a href="{% url 'delete_client' pk=client.pk %}">Удалить</a>
        <a href="{% url 'copy_client' pk=client.pk %}">Копировать</a>
        {% else %}
            Есть совпадение, у коллеги {{client.my_manager}}
        {% endif %}
    </td>
</tr>

{% endfor %}
{% endif %}
</table>
<!-- Маска, затемняющая фон -->
<div id="mask"></div>




<script>
	jQuery(document).ready(function($) {

	//Всплывающие окно с формы
    $('a[name=modal2]').click(function(e) {
    	e.preventDefault();
    	var id = $(this).attr('href');
    	var maskHeight = $(document).height();
    	var maskWidth = $(window).width();
    	$('#mask').css({'width':maskWidth,'height':maskHeight});
    	$('#mask').fadeIn(1000);
    	$('#mask').fadeTo("slow",0.8);
    	var winH = $(window).height();
    	var winW = $(window).width();
    	$(id).css('top',  winH/2-$(id).height()/2);
    	$(id).css('left', winW/2-$(id).width()/2);
    	$(id).fadeIn(2000);
		$("body,html").animate({
				scrollTop:0
			}, 800);
			return false;
    });
    $('.window2 .close').click(function (e) {
    	e.preventDefault();
    	$('#mask, .window2').hide();
    });
    $('#mask').click(function () {
    	$(this).hide();
    	$('.window2').hide();
    });


    // Обработка select менеджер
    $("select#id_my_manager").change(function () {
        var manager = $("select#id_my_manager").val();
        $(location).attr('href','/login/client/'+manager);
    });
    // Обработка select скрыт\не скрыт
    $("select#id_hide").change(function () {
        $("#hide").submit();
    });
    // Обработка select назначения
    $("select#id_naznach_one").change(function () {
        $("#naz").submit();
    });

    });
</script>

{% endblock %}
