{% extends 'myclient/base.html' %} {% block title %} Мои задачи {% endblock %} {% block content-title %} Мои задачи {% endblock %} {% block content %} {% for task in mytask %}
<div class="task">
    <div class="head-task">
        <strong>{{task.date}} {{task.client}} {{task.prioritet}}
            {% for t in task.client_set.all %}
                {{t.id}} {{t.email}}
            {% endfor %}
            {{ task.client_set.all}}
            </strong>
    </div>
    <div>
        <p>
            {{task.get_prioritet_display}}
        </p>
        <p>
            {{task.task}}
        </p>
    </div>

    <div>
        <a href="{# url 'my_client' #}" class="btn btn-primary btn-xs">Сделано</a>
        <a href="{% url 'update_task' pk=task.id %}" class="btn btn-primary btn-xs">Изменить</a>
        <a href="" class="btn btn-primary btn-xs">На завтра</a>
        <a href="" class="btn btn-primary btn-xs">Позже</a>
        <a href="" class="btn btn-primary btn-xs">Через неделю</a>
        <div class="btn-group">
        <a href="" class="btn btn-primary btn-xs dropdown-toggle" data-toggle="dropdown">Другое<span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
                <li><a href="#">Скрыть клиента</a></li>
                <li><a href="#">Email</a></li>
                <li><a href="{% url 'update_client' pk=task.client.id %}">Изменить клиента</a></li>
                <li><a href="{% url 'add_task' %}">Ещё одна задача</a></li>
            </ul>
        </div>
    </div>
</div>
{% endfor %}


{% endblock %}
