html {
  position: relative;
  min-height: 100%;
}
body{
	margin: 0 auto;
    /*width: 1000px;*/
    background: url(../images/fon2.jpg) top center no-repeat;
    background-position: 0 148px;
    margin-bottom: 60px;
    font-style: normal;
    font-family: Arial, sans-serif;
    /*background-size: 100%;*/
}
h1, h2, h3, h4, h5{
	text-align: center;
}

/* Контент */

.page{
    width: 1000px;
    margin: auto;
}
.header {
    padding: 5px;
    border-bottom: 1px solid #ccc;
    margin: 0 0 25px 0;
    text-align: center;
    box-shadow: 1px 1px 20px 1px #cecece;
}
.title-logo a{
    font-size: 16px;
    font-weight: bold;
    margin-top: -10px;
}
.main {
    width: 83%;
    float: left;
    margin: 0 10px 10px 10px;
    box-shadow: 0 0 10px 0 #ccc;
    padding: 10px;
    background: #fff;
    font-size: 12px;
}
.title-post {
    text-align: center;
    margin-top: -25px;
    font-size: 15px;
}

/* Клиент. часть */

/* Шапка */
.head{
    width: 1000px;
    margin: 0 auto;
    padding: 27px 0 0 0;
}
.logo{
    float: left;
}
.title-logo{
    margin-left: 175px;
}
.search-head{
    height: 50px;
    padding: 100px 0 50px 90px;
}
.form_s_s {
    width: 360px;
    height: 50px;
    /* background-color: #DB2C27; */
    float: left;
    /*margin-right: 15px;*/
    padding: 7px 55px 5px 5px;
}
.form_s_s2{
    margin-left: 145px;
    width: 360px;
    height: 50px;
    float: left;
    padding: 7px 55px 5px 5px;
}
#id_search{
    height: 45px;
}
.btn-serch {
    margin-top: -96px;
    margin-left: 258px;
    background-color: #fff !important;
    /* border: 1px solid #ccc !important; */
    color: #ec0000;
}
.menu-bar{
    background-color: #fff;
    height: 146px;
}
.menu{
    height: 50px;
    width: 1000px;
    margin: 0 auto;
}
.top-nav{
    margin-left: 45px !important;
    margin-top: 25px !important;
}
a.a-nav{
    color: #000;
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
}
a.a-nav::before{
    content: " ";
    background: url(../images/ico-menu.jpg) top center no-repeat;
    display: block;
    height: 18px;
    width: 18px;
    float: left;
    margin: 1px 10px 0 0;
}
.nav>li>a:focus, .nav>li>a:hover, .nav>li>a:active{
	text-decoration: underline !important;
    color: #000 !important;
    background-color: #fff !important;
}
.li-tel{
    margin-top: -7px;
    margin-right: 50px;
}
.span-tel{
    font-size: 32px;
}
.a-nav-btn{
    background-color: #DB2C27;
    color: #fff;
    height: 50px;
    margin-left: 10px;
}
.nav>li>a.a-nav-btn:hover{
    background-color: rgb(224, 65, 61) !important;
    text-decoration: none !important;
    color: #fff !important;
}
.title-site{
    margin-top: 45px;
    color: #fff;
}
.title-site h1{
    font-size: 48px;
    font-weight: bold;
}
.title-site p{
    font-size: 27px;
    font-weight: bold;
    text-align: center;
}
.main-site{
    width: 1000px;
    height: 100%;
    /*margin: -20px 0 0 0;*/
    background-color: #fff;
}
.search {
    /*background-color: #fff;*/
    height: 600px;
    margin-top: 25px;
    /*box-shadow: 1px 1px 1px 1px #cecece;*/
    background: url(../images/bg-search2.png) no-repeat top left;
}
/*Футер*/
.footer {
    margin: 25px auto;
    top: 100%;
    height: 50px;
    background-color: #f5f5f5;
    padding: 15px;
    /* float: left; */
    position: absolute;
    bottom: 0;
    width: 1000px;
    box-shadow: 1px 1px 10px 1px #cecece;
}


/*Медиа*/
@media (max-width: 992px){
.left-side, .right-side {
    width: 100%;
    float: left;
    margin: 0 5px 10px 0;
}

.main {
    width: 98%;
	margin: 0;
}

.logo {
    margin: 20px 0 20px 0;
    float: left;
}

.stat-header {
    width: 100%;
    float: left;
    /* margin: 10px 25px 0 0; */
}

.footer {
    margin: 25px 0 0 0;
    width: 100%;
}
}

@media (max-width: 750){
	.nav-justified>li {
    float: left !important;
}

}
