html {
  position: relative;
  min-height: 100%;
}
body{
	margin: 0 auto;
    /*width: 1000px;*/
    background: url(../images/fon2.jpg) top center no-repeat;
    background-position: 0 148px;
    margin-bottom: 60px;
    font-style: normal;
    font-family: Arial, sans-serif;
    /*background-size: 100%;*/
}
h1, h2, h3, h4, h5{
	text-align: center;
}

/* Контент */
.clearfix{
    clear: both;
}
.page{
    width: 1000px;
    margin: auto;
}
.header {
    padding: 5px;
    border-bottom: 1px solid #ccc;
    margin: 0 0 25px 0;
    text-align: center;
    box-shadow: 1px 1px 20px 1px #cecece;
}
.title-logo a{
    font-size: 16px;
    font-weight: bold;
    margin-top: -10px;
}
.main {
    width: 83%;
    float: left;
    margin: 0 10px 10px 10px;
    box-shadow: 0 0 10px 0 #ccc;
    padding: 10px;
    background: #fff;
    font-size: 12px;
}
.title-post {
    text-align: center;
    margin-top: -25px;
    font-size: 15px;
}

/* Клиент. часть */

/* Шапка */
.head{
    width: 1000px;
    margin: 0 auto;
    padding: 27px 0 0 0;
}
.logo{
    float: left;
}
.title-logo{
    margin-left: 175px;
}
.search-head{
    height: 50px;
    padding: 100px 0 50px 90px;
}
.form_s_s {
    width: 360px;
    height: 50px;
    /* background-color: #DB2C27; */
    float: left;
    /*margin-right: 15px;*/
    padding: 7px 55px 5px 5px;
}
.form_s_s2{
    margin-left: 145px;
    width: 360px;
    height: 50px;
    float: left;
    padding: 7px 55px 5px 5px;
}
#id_search{
    height: 45px;
}
.btn-serch {
    margin-top: -96px;
    margin-left: 258px;
    background-color: #fff !important;
    /* border: 1px solid #ccc !important; */
    color: #ec0000;
}
.menu-bar{
    background-color: #fff;
    height: 146px;
}
.menu{
    height: 50px;
    width: 1000px;
    margin: 0 auto;
}
.top-nav{
    margin-left: 45px !important;
    margin-top: 25px !important;
}
a.a-nav{
    color: #000;
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
}
a.a-nav::before{
    content: " ";
    background: url(../images/ico-menu.jpg) top center no-repeat;
    display: block;
    height: 18px;
    width: 18px;
    float: left;
    margin: 1px 10px 0 0;
}
.nav>li>a:focus, .nav>li>a:hover, .nav>li>a:active{
	text-decoration: underline !important;
    color: #000 !important;
    background-color: #fff !important;
}
.li-tel{
    margin-top: -7px;
    margin-right: 50px;
}
.span-tel{
    font-size: 32px;
}
.a-nav-btn{
    background-color: #DB2C27;
    color: #fff;
    height: 50px;
    margin-left: 10px;
}
.nav>li>a.a-nav-btn:hover{
    background-color: rgb(224, 65, 61) !important;
    text-decoration: none !important;
    color: #fff !important;
}
.title-site{
    margin-top: 45px;
    color: #fff;
}
.title-site h1{
    font-size: 48px;
    font-weight: bold;
}
.title-site p{
    font-size: 27px;
    font-weight: bold;
    text-align: center;
}
.main-site{
    width: 1000px;
    height: 100%;
    /*margin: -20px 0 0 0;*/
    background-color: #fff;
}
.search {
    /*background-color: #fff;*/
    height: 600px;
    margin-top: 25px;
    /*box-shadow: 1px 1px 1px 1px #cecece;*/
    background: url(../images/bg-search2.png) no-repeat top left;
}
.content{
    padding: 60px;
}
.post {
    padding: 30px 30px 0 30px;
}
.home-obj{
    /*margin: 50px 0 0 0;*/
}
.myobj{
    width: 250px;
    float: left;
    margin: 0 0 0 35px;
}
.myobj-h{
    width: 285px;
    float: left;
    margin: 0 0 0 5px;
}
form.form_s_3s {
    width: 100%;
    padding-bottom: 10px;
}
.btn-search-obj{
    background-color: #db2c27 !important;
    color: #fff;
    width: 200px;
    font-size: 18px !important;
    font-weight: bold !important;
    margin-left: 35%;
}
.form_s_3s .form-group {
    width: 200px;
    float: left;
    margin-left: 35px;
}
select#id_naznach {
    width: 195px;
}
.form_s_3s .radio input[type=radio]{
    position: absolute;
    margin-left: -25px;
}
.form_s_3s label {
    margin-bottom: 25px;
}
#id_okrug, #id_price {
    display: flex;
    flex-direction: column;
    height: 120px;
    flex-wrap: wrap;
}
.form_s_3s .radio, .form_s_3s .checkbox{

    font-size: 16px;
    margin-top: -2px !important;
    padding-left: 10px;
    margin-bottom: 20px !important;
}
#id_okrug_0:checked::before, #id_okrug_1:checked::before, #id_okrug_2:checked::before, #id_okrug_3:checked::before, #id_okrug_4:checked::before, #id_okrug_5:checked::before, #id_area_range_0:checked::before, #id_area_range_1:checked::before, #id_area_range_2:checked::before,
#id_price_0:checked::before, #id_price_1:checked::before, #id_price_2:checked::before, #id_price_3:checked::before, #id_price_4:checked::before, #id_price_5:checked::before {
    background-color: #5bc0de;
    border-color: #5bc0de;
    margin: -5px;
}
/*#id_area_range_0:checked + .radio label::before*/
#id_okrug_0::before, #id_okrug_1::before, #id_okrug_2::before, #id_okrug_3::before, #id_okrug_4::before, #id_okrug_5::before, #id_area_range_0::before, #id_area_range_1::before, #id_area_range_2::before,
#id_price_0::before, #id_price_1::before, #id_price_2::before, #id_price_3::before, #id_price_4::before, #id_price_5::before{
    content: "";
    display: inline-block;
    position: absolute;
    width: 20px;
    height: 20px;
    margin: -5px;
    left: 0;
    border: 1px solid #5bc0de;
    border-radius: 3px;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    border-radius: 50%;
}
#id_okrug_0::before, #id_okrug_1::before, #id_okrug_2::before, #id_okrug_3::before, #id_okrug_4::before, #id_okrug_5::before
{

}

#id_area_range_0::after {
    opacity: 1;
    content: "до 20 кв.м.";
    display: inline-block;
    width: 200px;
    margin: 15px 0 0 25px;
    color: #2196F3;
    font-size: 14px;
    /* font-style: italic; */
}
#id_area_range_1::after {
    content: "от 20 до 80 кв.м.";
    display: inline-block;
    width: 200px;
    margin: 15px 0 0 25px;
    color: #2196F3;
    font-size: 14px;
    /* font-style: italic; */
}
#id_area_range_2::after {
    content: "от 80 кв.м.";
    display: inline-block;
    width: 200px;
    margin: 15px 0 0 25px;
    color: #2196F3;
    font-size: 14px;
    /* font-style: italic; */
}

.st-obj-img {
    width: 275px;
    height: 190px;
}
.obj-cont{
    float: left;
    width: 610px;
    padding: 0 5px;
    border-right: 1px solid #000;
}
.div-btn{
    margin: 15px 0 5px 0;
}
.btn-obj-singl{
    margin: 0 0 5px 0;
    width: 250px;
    height: 50px;
    text-align: center;
    background-color: #DB2C27;
    padding: 15px 0;
}
/*.btn-obj-singl2 {
    margin-bottom: 5px;
    width: 250px;
    height: 50px;
    text-align: center;
    background-color: #DB2C27;
    padding: 15px 5px;
}*/
.btn-obj-singl:hover{
    background-color: rgb(224, 65, 61) !important;
}
.btn-obj{
    margin-bottom: 5px;
    width: 600px;
    height: 50px;
    text-align: center;
    background-color: #DB2C27;
    padding: 15px 50px;
}
.btn-obj:hover{
    background-color: rgb(224, 65, 61) !important;
}
/*.img-obj{
    width: 250px;
    float: left;
}*/
.img-obj-opis{
    width: 180px;
    margin: 0 0 15px 15px;
    float: left;
    text-align: center;
}
.img-obj-singl{
    float: left;
    margin: 5px;
}
.pr-obj{
    width: 100px;
    height: 50px;
}
.img-sop-obj{
    width: 150px;
    height: 100px;
}
.p-pohoj{
    font-size: 12px;
}
.obj-right{
    width: 270px;
    padding: 20px;
    float: right;
}
.img-obj-right{
    margin: 0 0 15px 0;
}
.cont-btn{
    background-color: #DB2C27;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
}
.btn-obj-singl>a:hover, .btn-obj>a:hover{
    text-decoration: none !important;
    color: #fff !important;
}
.table-obj {
    width: 600px !important;
    border: none !important;
    background-color: #efefef;
}
.td-op{
    width: 30%;
    background-color: #00599D;
    color: #fff;
}
.okrug-singl{
    float: left;
}
.td-zn {
    border-bottom: 1px dashed #ddddff !important;
    border-top: none !important;
}
.znak-m:after {
    content: "M";
    display: block;
    color: #fff;
    margin: 0 0 0 2px;
    font-size: 12px;
}
/*Старница поиска*/
span.st-p {
    color: red;
}
span.st-span {
    text-transform: uppercase;
    font-weight: bold;
}
.area {
    border: 1px solid #000;
    width: 100px;
    text-align: center;
    height: 40px;
    vertical-align: middle;
    line-height: 35px;
    /* float: right; */
    margin: -110px 0 60px 150px;
}
.area2 {
    border: 1px solid #000;
    width: 100px;
    text-align: center;
    height: 40px;
    vertical-align: middle;
    line-height: 35px;
    /* float: right; */
    margin: -85px 0 60px 150px;
}
.st-metro {
    padding: 10px;
    border-top: 1px solid;
}
.btn-zay{
    padding: 20px;
    margin: 30px 0 0 35%;
}
a.zay-btn{
    padding: 20px;
}
.sort-hide{
    background-color: #e5e5e5;
}
.sort-hide p{
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0 0 0 55px;
    line-height: 60px;
}
.sort-search{
    display: none;
}
.sort {
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 30px 0;
}
.sort-po {
    margin: 0 15px 0 0;
    font-size: 17px;
    text-transform: uppercase;
}
.sort-pr a{
    margin: 0 50px 0 20px;
    font-size: 17px;
    color: #9c9c9c;
}
.sort-pr a:hover{
    color: #000;
    text-decoration: none;
}
/*Футер*/
footer{
    width: 100%;
    margin: auto;
    background-color: #fff;
}
.footer {
    margin: 25px auto;
    top: 100%;
    height: 115px;
    background-color: #f5f5f5;
    padding: 15px;
    /* float: left;
    position: absolute;*/
    bottom: 0;
    width: 1000px;
    /* box-shadow: 1px 1px 10px 1px #cecece; */
    border-top: 1px solid #8ebddb;
}
.nav-footer{
    margin: 20px 5px 0 0 !important;
}
.span-day{
    font-size: 20px;
}
.li-footer-day{
    margin: 10px 30px 0 0;
}
.li-footer{
    margin-right: 100px;
}
/*Медиа*/
/*@media (max-width: 992px){
.left-side, .right-side {
    width: 100%;
    float: left;
    margin: 0 5px 10px 0;
}

.main {
    width: 98%;
	margin: 0;
}

.logo {
    margin: 20px 0 20px 0;
    float: left;
}

.stat-header {
    width: 100%;
    float: left;
}

.footer {
    margin: 25px 0 0 0;
    width: 100%;
}
}*/
@media (max-width: 800px){
.page {
    width: 100%;
    margin: auto;
    }
.head {
    width: 100%;
    margin: 0 auto;
    padding: 27px 0 0 0;
}
.navbar-toggle {
    position: relative;
    float: right;
    padding: 0 !important;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    width: 40px;
    font-size: 24px;
    height: 35px;
    background-color: #fff !important;
}
.logo {
    margin: 0 0 0 10px;
}
.menu {
    height: 50px;
    width: 100%;
}
.nav>li>a {
    position: relative;
    display: block;
    width: 200px;
    float: right;
    text-align: center;
}
.li-tel {
    margin-top: -7px;
    margin-right: 180px;
}
.a-nav-btn {
    height: auto;
    margin-left: 0;
}
.main-site {
    width: 100%;;
}
.title-site {
    margin-top: 45px;
    color: #fff;
    width: 100%;
}
.search-head {
    width: 100%;
    height: 50px;
    padding: 50px 0 50px 50px;
}
.search-head-form {
    width: 60px;
    float: left;
}
.form_s_s {
    padding: 0 55px 5px 5px;
}
.form_s_s2 {
    margin-left: 255px;
    padding: 0 55px 5px 5px;
}
    .footer {
    margin: 25px 0 0 0;
    width: 100%;
    /*height: 100%;*/
}
.nav-footer {
    margin: 10px 0 0 0 !important;
    float: right;
    /* width: 330px; */
}
.li-footer-day {
    margin: 0;
}
.li-footer {
    margin-right: 0;
}
}
@media (max-width: 480px){
    .menu-bar {
    height: 180px;
}
    .li-tel {
        margin: 0 0 0 20px;
    }
    .a-nav-btn {
    margin: 10px 0 0 35px !important;
}
    .navbar {
    position: static;
}
    .container-fluid {
    padding-left: 0;
}
    .nav>li>a {
        float: none;
        margin: 0;
    }
    .top-nav {
        margin-left: 1px !important;
        margin-top: 1px !important;
        background-color: #fff;
    }
    a.a-nav {
    font-size: 20px;
    width: 100% !important;
}
.form_s_s2 {
    margin-left: 0;
    padding: 0 55px 5px 5px;
}
.form_s_3s .form-group {
    margin-left: 0;
}
.btn-search-obj {
    margin-left: 25%;
}
.home-obj {
    margin: 0 0 0 15%;
}
/*Возможно редактировать кантент нужно*/
.content {
    padding: 10px;
}
.obj-cont {
    float: none;
    width: 100%;
    border-right: none;
}
.table-obj {
    width: 100% !important;
}
.obj-right {
    width: 100%;
    float: none;
}


.a-footer{
    float: left;
}
}
