{% extends 'myclient/base.html' %}
{% load bootstrap3 static %}
{% block title %}
Добавить объект
{% endblock %}

{% block content-title %}
Добавить объект
{% endblock %}

{% block content %}

{% if error %}
    <h2>{{error}}</h2>
{% endif %}

<form method="post" action="">
    {% csrf_token %}
    {% bootstrap_form form %}

    {% include 'myobject/file-fields.html' %}

    {% buttons %}
    {% bootstrap_button "Сохранить" button_type="submit" button_class="btn-primary submit-form" %}
    {% endbuttons %}
</form>

{% include 'myobject/file-block.html' %}
{% include 'myobject/file-scripts.html' %}

{% endblock %}
