{% load bootstrap3 static %}
<link rel="stylesheet" href="{% static 'css/upload-style.css' %}">
{#<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>#}
<script src="{% static 'js/jQuery-File-Upload-9.14.1/jquery.ui.widget.js' %}"></script>
<script src="{% static 'js/jQuery-File-Upload-9.14.1/jquery.iframe-transport.js' %}"></script>
<script src="{% static 'js/jQuery-File-Upload-9.14.1/jquery.fileupload.js' %}"></script>
<script src="{% static 'js/basic-upload.js' %}"></script>
