{% extends 'myclient/base.html' %}
{% load bootstrap3 %}
{% block title %}
Мои объекты
{% endblock %}

{% block content-title %}
Мои объекты
{% endblock %}

{% block content %}
<table class="table table-bordered table-hover">
    <th class="active">
    № объекта
    <form class="form_s_c2" method="post" action="">
          {% csrf_token %}
          {# bootstrap_form form_name #}
          {{forms.id.as_p}}
    </form>
</th>
<th class="active">
    Тип объекта
    <form id="type" class="form_s_c2" method="post" action="">
          {% csrf_token %}
          {# bootstrap_form form_name #}
          {{forms.type.as_p}}
    </form>
</th>
<th class="span-task active">
    Станция метро
</th>
<th class="span-task active">
    Адрес
    <form class="form_s_c2" method="post" action="">
          {% csrf_token %}
          {# bootstrap_form form_name #}
          {{forms.adres.as_p}}
    </form>
</th>
<th class="span-task active">
    Площадь
</th>
<th class="span-task active price-table">
    Цена
</th>
<th class="span-task active">
    Собственник
    <form class="form_s_c2" method="post" action="">
          {% csrf_token %}
          {# bootstrap_form form_name #}
          {{forms.sobs.as_p}}
    </form>
</th>
<th class="span-task active">
    Дата последнего прозвона
</th>
<th class="span-task active">
    Скрытые
</th>
<th class="span-task active">

</th>
{% if myobjects %}
{% for obj in myobjects %}
<tr>
    <td>
        {{obj.id}}
    </td>
    <td>
        {{obj.get_typeobj_display}}
    </td>
    <td>
        {{obj.station_one}}<br />
        {{obj.station_two}}
    </td>
    <td>
        {{obj.adres}}
    </td>
    <td>
        {{obj.area}}
    </td>
    <td>
        {{obj.price}}
    </td>
    <td>
        {{obj.block_name}}<br />
        {{obj.block_tel}}<br />
        {{obj.block_email}}
    </td>
    <td>
        {{obj.zvon}}
    </td>
    <td>
        {% if obj.hide == '0' or obj.hide_date == "" %}

        {% else %}
            Скрыт
        {% endif %}
    <td>
        {% if obj.hide == "0" or obj.hide_date == "" %}
            <a href="{% url 'hide_obj' pk=obj.pk %}" name="modal2" class="more">Скрыть</a><br />
        {% else %}
            <a href="{% url 'show_obj' pk=obj.pk %}">Открыть</a><br />
        {% endif %}
        <a href="{% url 'zvon_obj' pk=obj.pk %}">Прозвон</a><br />
        <a href="{% url 'update_obj' pk=obj.pk %}">Редактировать</a><br />
        <a href="{% url 'copy_obj' pk=obj.pk %}">Копировать</a><br />
        <a href="{% url 'delete_obj' pk=obj.pk %}">Удалить</a>
    </td>
</tr>

{% endfor %}
{% else %}
{% for obj in search_object %}
<tr>
    <td>
        {{obj.id}}
    </td>
    <td>
        {{obj.get_typeobj_display}}
    </td>
    <td>
        {{obj.station_one}}<br />
        {{obj.station_two}}
    </td>
    <td>
        {{obj.adres}}
    </td>
    <td>
        {{obj.area}}
    </td>
    <td>
        {{obj.price}}
    </td>
    <td>
        {% if obj.my_manager == user %}
        {{obj.block_name}}<br />
        {{obj.block_tel}}<br />
        {{obj.block_email}}
        {% else %}
        Запросить
        {% endif %}
    </td>
    <td>

    </td>
    <td>

            {% if obj.hide == '0' or obj.hide_date == "" %}

            {% else %}
                Скрыт
            {% endif %}

    <td>
        {% if obj.my_manager == user %}
            {% if obj.hide == "0" or obj.hide_date == "" %}
            <a href="{% url 'hide_obj' pk=obj.pk %}" name="modal2" class="more">Скрыть</a><br />
            {% else %}
            <a href="{% url 'show_obj' pk=obj.pk %}">Открыть</a><br />
            {% endif %}
            <a href="{% url 'add_task_client' pk=obj.pk %}">Задача</a><br />
            <a href="{% url 'update_obj' pk=obj.pk %}">Редактировать</a><br />
            <a href="{% url 'delete_obj' pk=obj.pk %}">Удалить</a>
            <a href="{% url 'copy_obj' pk=obj.pk %}">Копировать</a>
        {% else %}
            Есть совпадение, у коллеги {{obj.my_manager}}
        {% endif %}
    </td>
</tr>
{% endfor %}
{% endif %}
</table>
<script>
	jQuery(document).ready(function($) {
    //Добавление и выбор пустого пункта в select
    $("select#id_typeobj").prepend( $('<option value="0">-----</option>'));
    $("select#id_typeobj :contains('-')").attr("selected", "selected");
    // Обработка select менеджер
    $("select#id_typeobj").change(function () {
        $("#type").submit();
    });
    // Обработка select скрыт\не скрыт
    $("select#id_hide").change(function () {
        $("#hide").submit();
    });
    // Обработка select назначения
    $("select#id_naznach_one").change(function () {
        $("#naz").submit();
    });

    });
</script>
{% endblock %}
