{% load staticfiles %} {% load bootstrap3 %}
<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<meta name="description" content="{{meta.desc}}">
	<meta name="keywords" content="{{meta.keywords}}">
	<title>{% block title %}{{meta.title}}{% endblock %}</title>
	<link rel="shortcut icon" href="{% static 'img/favicon.png' %}" type="image/png">
	<link rel="stylesheet" href="{% static 'css/style.css' %}" />
	<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">


	<script src="{% static 'js/jquery.min.js' %}"></script>
	<script src="{% static 'js/jquery-ui/jquery-ui.min.js' %}"></script>
	<link href="{% static 'js/jquery-ui/jquery-ui.theme.min.css' %}" rel="stylesheet">
	<link href="{% static 'js/jquery-ui/jquery-ui.min.css' %}" rel="stylesheet">
</head>

<body>
	<div class="page2">
        <div class="menu-bar">
            <div class="head">
                <div class="logo">
                    <a href="/"><img src="{% static 'images/logo.jpg' %}"></a>
                </div>
                <div class="title-logo">
                    <a href="/"><img src="{% static 'images/title.jpg' %}"></a>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="li-tel">
                            <span class="span-tel">(495) 58-58-231</span>
                        </li>
                        <li>
                            <a href="#" class="a-nav-btn">ЗАДАТЬ ВОПРОС</a>
                        </li>
                    </ul>
                </div>

			<nav class="navbar menu" role="navigation">
				<div class="container-fluid">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
					</div>

					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav top-nav">
							<li>
								<a href="{% url 'home' %}" class="a-nav">ГЛАВНАЯ</a>
							</li>
							<li>
								<a href="" class="a-nav">НОВЫЕ</a>
							</li>
							<li>
								<a href="" class="a-nav">ОБЪЕКТЫ В ПЕРЕХОДАХ МЕТРО</a>
							</li>
							<!--<li>
								<a href="{% url 'contact' %}" class="a-nav">ЗАЯВКА</a>
							</li>-->
						</ul>

					</div>
					<!-- /.navbar-collapse -->
				</div>
				<!-- /.container-fluid -->
			</nav>
		</div>
</div>

        <div class="search-head">
			<div class="search-head-form">
				<form class="form_s_s" name="contact" method="post" action="{% url 'search_object' %}">
					{% csrf_token %} {% bootstrap_form object_form_s %}
					<button type="submit" class="btn btn-primary btn-md btn-serch"><span class="glyphicon glyphicon-play"></span></button>
				</form>
			</div>
			<div class="search-head-form">
				<form class="form_s_s" name="contact" method="post" action="{% url 'search_adres' %}">
					{% csrf_token %} {% bootstrap_form metro_form_s %}
					<button type="submit" class="btn btn-primary btn-md btn-serch"><span class="glyphicon glyphicon-play"></span></button>
				</form>
			</div>
		</div>


		<div class="main-site">
			{% block search %}

			{% endblock %}
			<header class="post">
				<h2>{% block content-title %}{% endblock %}</h2>
			</header>
			<div class="content">
				{% block content %} {% endblock %}
			</div>
		</div>
		<footer>
			<div class="footer">
				Все права защищены &copy; 2017. Омельченко Михаил
			</div>
		</footer>
	</div>

	<script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>

</html>
